@keyframes bounce {
  0% {
    opacity: 0.3;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 25px;
  }
}

.button {
  border-radius: 8px;
  border: 2px solid #fff;

  margin: 0;
  padding: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.button[data-playing="false"] .bar {
  animation: none;
}

.bars {
  width: 25px;
  height: 25px;
  margin: auto;
  position: relative;
}

.bar {
  width: 4px;
  bottom: 0px;
  height: 3px;
  background: #fff;
  position: absolute;
  will-change: height, opacity;
  animation: bounce 600ms ease infinite alternate;
}

.bar:nth-child(1) {
  left: 0;
  animation-duration: 642ms;
}
.bar:nth-child(2) {
  left: 5px;
  animation-duration: 665ms;
}
.bar:nth-child(3) {
  left: 10px;
  animation-duration: 636ms;
}
.bar:nth-child(4) {
  left: 15px;
  animation-duration: 698ms;
}
.bar:nth-child(5) {
  left: 20px;
  animation-duration: 603ms;
}
