.social {
  right: 0;
  top: 50%;
  display: flex;
  padding: 20px;
  position: absolute;
  flex-direction: column;
  transform: translateY(-50%);
}

.link {
  height: 40px;
  padding: 8px;
  opacity: 0.5;
  transition: opacity;
  will-change: opacity;
}

.link:hover {
  opacity: 1;
}

.social > .link:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 1199.98px) {
  .social {
    padding-bottom: 200px;
  }
}
@media (max-width: 767.98px) {
  .social {
    padding-bottom: 280px;
  }
  .social > .link:not(:last-child) {
    margin-bottom: 20px;
  }
}
