@font-face {
  font-family: D-DIN;
  font-weight: 400;
  src: url(/fonts/D-DIN/D-DIN.woff2) format("woff2"),
    url(/fonts/D-DIN/D-DIN.woff) format("woff");
}
@font-face {
  font-family: D-DIN;
  font-weight: 700;
  src: url(/fonts/D-DIN/D-DIN-Bold.woff2) format("woff2"),
    url(/fonts/D-DIN/D-DIN-Bold.woff) format("woff");
}

.main {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0 auto;
  position: relative;

  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: auto;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/stars.png");
}

.container {
  margin: 0 auto;
  position: relative;

  width: 0;
  height: 0;
}

.inner {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 65vh;
  height: 65vh;
  transform: translate(-50%, -50%);
}

.outer {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(90vh);
  height: calc(90vh);
}

.background {
  top: 50%;
  left: 50%;
  width: 50vh;
  margin: auto;
  height: 50vh;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  background-position: center;
  background-size: cover;
  transition-property: background-image;
  transition-delay: 300ms;
}

.shadow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vh;
  height: 50vh;
  border-radius: 50%;

  background-color: #000;
  opacity: 0.5;
  border: 1px solid #fff;
}

.images {
  width: 0px;
  height: 0px;
  margin: 0 auto;
  position: relative;
}

.hr {
  border: none;
  position: absolute;
  height: 1px;
  width: 5vh;
  background-color: #fff;
  opacity: 0.3;

  transform: rotate(90deg) translate(calc(50vh - 3.5vh), 2.5vh) rotate(0deg);
}

.button {
  font-size: 40px;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
  padding: 15px 20px;

  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.launches {
  margin: 0;
  list-style-type: none;

  margin: 0 auto;
  position: absolute;
  padding: 0;
  width: 0;
  height: 0;
  /* 26px is the height of an LI */
  /* 100px is half the width of an LI */
  transform: translate(-100px, -26px);
}

.launch {
  margin: 0;
  list-style: none;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 100px;
  text-transform: uppercase;

  cursor: pointer;
  transition-property: opacity, font-weight;
  transition-delay: 300ms;
  width: 200px;
  font-size: 26px;
  opacity: 0.3;
  font-weight: 400;
  text-align: right;
  position: absolute;
  white-space: nowrap;
}

.launch[data-selected="true"] {
  opacity: 1;
  font-weight: 700;
}

.selection {
  position: relative;
}

.stat {
  width: 100px;
  text-align: right;
  position: absolute;
  white-space: nowrap;
}

.stat > * {
  margin: 0;
}

.stat h2 {
  font-size: 24px;
  font-weight: 700;
}

.stat p {
  font-weight: 500;
}

.stat small {
  font-weight: 300;
}

.dotContainer {
  position: absolute;
  transform: translate(-5px, -5px);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  will-change: transform;
  background-color: #fff;
  transition: transform 300ms;
}

@media (max-width: 1199.98px) {
  /* Images */
  .inner {
    width: 45vh;
    height: 45vh;
  }
  .outer {
    width: 55vh;
    height: 55vh;
  }
  .shadow,
  .background {
    width: 35vh;
    height: 35vh;
  }

  /* Launches */
  .launches {
    /* 26px is the height of an LI */
    /* 100px is half the width of an LI */
    transform: translate(-75px, -18px);
  }
  .launch {
    width: 150px;
    font-size: 18px;
  }

  /* Stats */
  .stat h2 {
    /*font-size: 24px;*/
    font-size: 16.8px;
  }

  .stat p {
    font-size: 11.2px;
  }

  .stat small {
    font-size: 9.33px;
  }

  .button {
    font-size: 28px;
  }

  .hr {
    width: 22.5vh;
    transform: rotate(90deg) translate(calc(38vh), calc(22.5vh / 2))
      rotate(0deg);
  }
}

@media (max-width: 767.98px) {
  /* Images */
  .inner {
    width: 25vh;
    height: 25vh;
  }
  .outer {
    width: 90vw;
    height: 90vw;
  }
  .shadow,
  .background {
    width: 15vh;
    height: 15vh;
  }

  /* Launches */
  .launches {
    /* 26px is the height of an LI */
    /* 100px is half the width of an LI */
    transform: translate(-50px, -12px);
  }
  .launch {
    width: 100px;
    font-size: 12px;
  }

  .stat {
    width: 50px;
    display: flex;
    flex-direction: column;
  }

  /* Stats */
  .stat h2 {
    /*font-size: 24px;*/
    font-size: 12px;
  }

  .stat p {
    font-size: 8px;
  }

  .stat small {
    font-size: 6.66px;
  }

  .button {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 5px;
  }

  .dotContainer {
    position: absolute;
    transform: translate(-2.5px, -2.5px);
  }

  .dot {
    width: 5px;
    height: 5px;
  }

  .hr {
    display: none;
  }
}
